localhost {
  handle /todolist/swagger/* {
    uri strip_prefix /todolist
    reverse_proxy todolistservice:8080
  }

  handle /identity/swagger/* {
    uri strip_prefix /identity
    reverse_proxy identityservice:8081
  }

  handle_path /todolist/* {
    reverse_proxy todolistservice:8080
  }

  handle_path /identity/* {
    reverse_proxy identityservice:8081
  }

  handle_path /pgadmin/* {
    reverse_proxy pgadmin:80
  }

  reverse_proxy / {
    to todolistclient:4000
  }
}