<mat-form-field
  class="password-input"
  appearance="outline">
  <mat-label>Password</mat-label>
  <input
    matInput
    placeholder="Password"
    class="password-input__input"
    [type]="getPasswordInputType()"
    [formControl]="passwordControl"
    [errorStateMatcher]="errorStateMatcher">
  <button
    matIconButton
    matSuffix
    [type]="getPasswordInputType()"
    [attr.aria-label]="'Hide password'"
    [attr.aria-pressed]="hidePassword()"
    (click)="togglePasswordVisibility($event)">
    <mat-icon>{{ getPasswordVisibilityIconName() }}</mat-icon>
  </button>
  @if (isPasswordInvalid()) {
    <mat-error>Password is not valid.</mat-error>
  }
  @if (isPasswordEmpty()) {
    <mat-error>Password is not entered.</mat-error>
  }
</mat-form-field>