@use 'sass:map';
@use '@angular/material' as mat;
@use './_default-light-theme-colors' as light-palette;
@use './_default-dark-theme-colors' as dark-palette;

$scale: 0;
$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: light-palette.$primary-palette,
    tertiary: light-palette.$tertiary-palette,
  ),
  density: (
    scale: $scale
  )
));

$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: dark-palette.$primary-palette,
    tertiary: dark-palette.$tertiary-palette,
  ),
  density: (
    scale: $scale
  )
));

html {
  color-scheme: light;
  @include mat.all-component-themes($light-theme);
}

body.dark-mode {
  color-scheme: dark;
  @include mat.all-component-colors($dark-theme);
}

body.dark-mode .keep-light {
  color-scheme: light;
  @include mat.all-component-colors($light-theme);
}
