<div class="login-form">
  <mat-card class="login-form__card keep-light">
    <mat-card-header class="login-form__header">
      <mat-card-title class="login-form__title">Login</mat-card-title>
    </mat-card-header>

    <mat-card-content class="login-form__content">
      <form class="login-form__form">
        <app-email-input></app-email-input>
        <app-password-input></app-password-input>
      </form>
    </mat-card-content>
    <app-login-form-actions
      (login)="login()"
      (register)="register()">
    </app-login-form-actions>
  </mat-card>
</div>